#LLM Providers
ANTHROPIC_API_KEY=your-anthropic-key
OPENAI_API_KEY=your-openai-key
DEEPSEEK_API_KEY=your-deepseek-key
QWEN_API_KEY=your-qwen-key
GOOGLE_API_KEY=your-google-api-key

#Postgres 
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=my-user
POSTGRES_PASSWORD=my-password
POSTGRES_DB=my-db

# llm provider (gemini, openai, anthropic, qwen, deepseek)
LLM_PROVIDER=gemini

GEMINI_MODEL=models/gemini-2.5-flash
GEMINI_EMBEDDING_MODEL=models/gemini-embedding-001

OPENAI_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

# llm params
LLM_TEMPERATURE=0.1
RETRIEVER_K=5
