#LLM Providers
ANTHROPIC_API_KEY=your-anthropic-key
OPENAI_API_KEY=your-openai-key
DEEPSEEK_API_KEY=your-deepseek-key
QWEN_API_KEY=your-qwen-key

#Postgres 
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=my-user
POSTGRES_PASSWORD=my-password
POSTGRES_DB=my-db
